{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}

<form action="/register" method="post" class="w-50 mx-auto">

    <div class="mb-3">
        <input class="form-control" name="username" placeholder="Username" autocomplete="off">
    </div>

    <div class="mb-3">
        <input class="form-control" type="password" name="password" placeholder="Password">
    </div>

    <div class="mb-3">
        <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
    </div>

    <button class="btn btn-primary w-100" type="submit">Register</button>

</form>

{% endblock %}